doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Minimal React Webpack build
  body
    #scene.artboard
      .artboard__figure.artboard__figure--1(data-x-range='10')
      .artboard__figure.artboard__figure--2(data-x-range='15')
      .artboard__figure.artboard__figure--3(data-x-range='20')
      .artboard__figure.artboard__figure--4(data-x-range='10')
      .artboard__figure.artboard__figure--5(data-x-range='15')
      .artboard__figure.artboard__figure--6(data-x-range='20')
      .artboard__figure.artboard__figure--7(data-x-range='25')
      .artboard__figure.artboard__figure--8(data-x-range='5')
      .artboard__figure.artboard__figure--9(data-x-range='10')
      .artboard__figure.artboard__figure--10(data-x-range='15')
      .artboard__figure.artboard__figure--11(data-x-range='20')
      .artboard__figure.artboard__figure--12(data-x-range='25')
      .artboard__figure.artboard__figure--13(data-x-range='5')
      .artboard__figure.artboard__figure--14(data-x-range='10')
      .artboard__figure.artboard__figure--15(data-x-range='15')
      .artboard__figure.artboard__figure--16(data-x-range='20')
      .artboard__figure.artboard__figure--17(data-x-range='25')
      .artboard__figure.artboard__figure--18(data-x-range='30')
      .artboard__figure.artboard__figure--19(data-x-range='35')
